.create-admin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e7f7ff;
  }
  
  .create-admin-form {
    background-color: #e0f7fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .create-admin-form h2 {
    margin-bottom: 20px;
  }
  
  .create-admin-form .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .create-admin-form .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .create-admin-form .form-group input,
  .create-admin-form .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .create-admin-form .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #29b6f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-admin-form .form-group button:hover {
    background-color: #0288d1;
  }
  