/* setupPassword.css */

.softshares-wrapper {
    font-family: Arial, sans-serif;
}

.softshares {
    font-size: 2.5rem;
}

.softshares span:first-child {
    color: #000;
}

.softshares .shares {
    color: #00b0ff;
}

.welcome-text {
    font-size: 1.25rem;
    color: #333;
    margin-top: -10px;
}

.password-setup-form .form-control {
    font-size: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
}

/* Adjust input field sizes on larger screens */
@media (min-width: 992px) {
    .password-setup-form .form-control {
        font-size: 0.875rem;
        padding: 0.5rem 0.75rem;
    }
}

.setup-button {
    background-color: #00b0ff;
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border-radius: 4.25rem;
}

.setup-button:hover {
    background-color: #04a3ed;
}
